/* frontend/src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definição de variáveis de cor para o tema claro (padrão).
  :root é equivalente a aplicar no elemento <html>.
*/
:root {
  --background-primary: #f4f4f5;
  /* Um cinza bem claro para o fundo geral */
  --background-secondary: #ffffff;
  /* Branco para o conteúdo principal */
  --text-primary: #1f2937;
  /* Texto escuro */
  --header-background: #343a40;
  /* Fundo do cabeçalho */
  --card-background: #f9fafb;
  /* Fundo de cards e elementos similares */
  --text-secondary: #4b5563;
  /* Este é o text-secondary-text */
}

/* Definição de variáveis de cor para o tema escuro.
  Estas serão aplicadas quando o elemento <html> tiver a classe "dark".
*/
html.dark {
  --background-primary: #2c3135;
  /* Fundo geral escuro */
  --background-secondary: #343a40;
  /* Fundo do conteúdo principal escuro */
  --text-primary: #e5e7eb;
  /* Texto claro */
  --header-background: #343a40;
  /* Fundo do cabeçalho (pode ser o mesmo ou diferente) */
  --card-background: #3f474e;
  /* Fundo de cards escuro */
  --text-secondary: #d1d5db;
}

/* Estilo base para o body, utilizando as variáveis.
  Adiciona uma transição suave para a mudança de cores.
*/
body {
  background-color: var(--background-primary);
  color: var(--text-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Garante que html e body preencham a tela e removam margens/padding padrão */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

/* Garante que a div #root preencha a largura total e possa centralizar seu filho */
#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}